public/
public/index.html
public/index.xml
public/sitemap.xml
public/about/index.html
public/categories/index.html
public/categories/index.xml
public/categories/tutorial/index.html
public/categories/tutorial/index.xml
public/posts/index.html
public/posts/index.xml
public/posts/my-first-post/index.html
public/tags/index.html
public/tags/index.xml
public/tags/example/index.html
public/tags/example/index.xml
public/tags/hugo/index.html
public/tags/hugo/index.xml
