<section class="bg-whiteSmoke dark:bg-gray-900 antialiased" id="portfolio">
    <div class="max-w-screen-xl px-4 mx-auto lg:px-6 pb-24">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            {{ with .Params.gallery }}
                {{ range . }}
                    <div>
                        <a href="{{ .lightbox }}" class="glightbox" data-gallery="portfolio-gallery">
                            <div class="w-full rounded-lg bg-cover bg-center relative border border-gunmetal aspect-[1.29]" 
                                 style="background-image: url('{{ .src }}'); background-position: center; background-size: cover; background-repeat: no-repeat;">
                                {{ if .video }}
                                    <div class="absolute inset-0 flex items-center justify-center">
                                        <div class="flex items-center justify-center bg-[#00b3ff] bg-opacity-95 rounded-full w-16 h-16">
                                            <img class="w-5 h-5 ml-[5px]" src="/images/play-button.svg" alt="play-button">
                                        </div>
                                    </div>
                                {{ end }}
                            </div>
                        </a>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>

<!-- GLightbox JS Initialization -->
<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
<script>
    const lightbox = GLightbox({
        selector: '.glightbox',
        touchNavigation: true,
        loop: true
    });
</script>