<section class="bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-white">Get in touch</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-gray-400 sm:text-xl">Want me on your team? Drop me a line below and let's get started on something awesome!</p>
        <form name="contact" class="space-y-8" netlify>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-300">Your email</label>
                <input name="email" type="email" id="email" class="shadow-sm bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500 shadow-sm-light block w-full p-2.5 rounded-lg" placeholder="name@example.com" required>
            </div>
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-gray-300">Name</label>
                <input name="name" type="text" id="subject" class="block p-3 w-full text-sm bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500 shadow-sm-light rounded-lg" placeholder="Let me know your name" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-400">Your message</label>
                <textarea name="message" type="text" id="message" rows="6" class="block p-2.5 w-full text-sm bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500 rounded-lg shadow-sm" placeholder="Leave a comment..."></textarea>
            </div>
            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-600 hover:bg-primary-700 focus:ring-primary-800">Send message</button>
        </form>
    </div>
  </section>
  