<section class="bg-gray-50 dark:bg-gray-900">
    <div class="py-16 px-4 mx-auto max-w-screen-xl sm:py-24 lg:px-6">
        <div class="max-w-screen-md mx-auto mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl text-left sm:text-center tracking-tight font-extrabold text-gray-900 dark:text-white">X Factors: the Tom Smith difference</h2>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400 text-left sm:text-center">Any designer can design. Any coder can code. This is what differentiates Tom Smith from the rest of the talent market. </p>
        </div>
        <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div>
                <img class="h-11 mb-2" src="/images/evergreen-talent.svg/" alt="Evergreen Talent">
                <h3 class="mb-2 text-2xl font-bold dark:text-white">Evergreen Value</h3>
                <p class="text-gray-900 dark:text-gray-400 text-lg font-medium mb-2">Tom is an adaptive talent who will provide as much value in 10 years as he does now.</p>
                <p class="text-gray-500 dark:text-gray-400">Tom has taught himself animation, coding, digital marketing, and has kept up with the ever-changing AI landscape. An investment in Tom Smith will yield as much value in 2034 as it will in 2024.</p>
            </div>
            <div>
                <img class="h-11 mb-2" src="/images/battle-tested-icon.svg/" alt="Battled Tested">
                <h3 class="mb-2 text-2xl font-bold dark:text-white">Battle-Tested</h3>
                <p class="text-gray-900 dark:text-gray-400 text-lg font-medium mb-2">He's not going to quiver in the face of tight-deadlines or 10 different DEFCON-1 priorties.</p>
                <p class="text-gray-500 dark:text-gray-400">Tom is an entrepreneur at heart who’s earned his stripes in fast-paced, high-pressure startup environments. Tom Smith moves mountains for founders, venture studios, and C-suite execs. </p>
            </div>
            <div>
                <img class="h-11 mb-2" src="/images/departmental-bridge.svg" alt="Departmental Bridging">
                <h3 class="mb-2 text-2xl font-bold dark:text-white">Departmental Bridging</h3>
                <p class="text-gray-900 dark:text-gray-400 text-lg font-medium mb-2">A designer meets developers where they are and who understands business goals.</p>
                <p class="text-gray-500 dark:text-gray-400">A designer who speaks developer, meshes with marketers, and understands biz-dev goals saves thousands through efficient communications. Don’t let one-note creatives bog you down. </p>
            </div>
            <div>
                <img class="h-11 mb-2" src="/images/whole-package.svg" alt="The Whole Package">
                <h3 class="mb-2 text-2xl font-bold dark:text-white">The Whole Package</h3>
                <p class="text-gray-900 dark:text-gray-400 text-lg font-medium mb-2">Want to do some quick maths on the cost savings of a one-man creative/dev team?</p>
                <p class="text-gray-500 dark:text-gray-400">Tom can brand your business, package your product, render 3D mockups, design your UI, write your copy, develop yor site, and animate your content. He is the Avatar (Airbender version) of the modern creative stack.</p>
            </div>
            <div>
                <img class="h-11 mb-2" src="/images/mgmt-that-scales.svg" alt="Management That Scales">
                <h3 class="mb-2 text-2xl font-bold dark:text-white">Leadership That Scales</h3>
                <p class="text-gray-900 dark:text-gray-400 text-lg font-medium mb-2">Hands-on "Jack of All Trades" in the beginning, decisive leader as your grow.</p>
                <p class="text-gray-500 dark:text-gray-400">Tom Smith is a hands-on leader, capable of taking on the sweat equity for small teams and early stage startups, while also serving as an empathetic leader for larger creative teams and contractors.</p>
            </div>
            <div>
                <img class="h-11 mb-2" src="/images/clarity-from-abstraction.svg" alt="Clarity From Abstraction">
                <h3 class="mb-2 text-2xl font-bold dark:text-white">Clarity From Abstraction</h3>
                <p class="text-gray-900 dark:text-gray-400 text-lg font-medium mb-2">Give Tom a 5-minute verbal data dump and he'll turn it into visual gold.</p>
                <p class="text-gray-500 dark:text-gray-400">Tom Smith has the uncanny ability to distill tangibly concise content and design from the lofty and high-minded ambitions that are lobbed his way from clients, CEOs, and founders. </p>
            </div>
        </div>
    </div>
  </section>