<!-- drawer component -->
<div
  id="drawer-right-example"
  class="fixed top-0 right-0 z-50 h-screen p-4 overflow-y-auto w-full transition-transform translate-x-full bg-white dark:bg-gray-900 w-80 flex flex-col"
  tabindex="-1"
  aria-labelledby="drawer-right-label"
>
  <h5 id="drawer-right-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
    <svg class="w-4 h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    Menu
  </h5>

  <button
    type="button"
    data-drawer-hide="drawer-right-example"
    aria-controls="drawer-right-example"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
  >
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
    </svg>
    <span class="sr-only">Close menu</span>
  </button>

  <div class="pt-6 dark:border-gray-700">
    <nav aria-label="Mobile site menu">
      <ul class="space-y-1">
        {{ range .Site.Menus.main }}
          <li>
            <a
              href="{{ .URL }}"
              class="block py-3 px-1 text-base font-medium text-gunmetal dark:text-white hover:text-blue-700 dark:hover:text-blue-500 rounded"
              data-drawer-hide="drawer-right-example"
            >
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</div>


<!-- Navbar -->

<nav id="navbar" class="fixed w-full z-40 top-0 start-0 border-b border-transparent transition-all duration-300">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="{{ .Site.BaseURL }}" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/images/tomsmith-design-logo-white.svg" class="h-8" alt="Tom Smith Design">
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      {{ if .IsHome }}
        <a
          href="/contact/"
          class="hidden md:inline-flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Get In Touch
        </a>
      {{ else }}
        <a
          href="/contact/"
          class="hidden md:inline-flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Get In Touch
        </a>
      {{ end }}
      <button
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gunmetal rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        data-drawer-target="drawer-right-example"
        data-drawer-show="drawer-right-example"
        data-drawer-placement="right"
        aria-controls="drawer-right-example"
        data-drawer-backdrop="false"
      >
        <span class="sr-only">Open menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gunmetal rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:border-gray-700">
        {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL }}" class="block py-2 px-3 text-gunmetal rounded md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
