<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <script>
        document.head.insertAdjacentHTML("afterbegin", '<link rel="stylesheet" type="text/css" href="https://unpkg.com/flowbite-typography@1.0.3/dist/typography.min.css">');
    </script>
    <!-- Meta Description -->
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}Tom Smith is the entire creative pipeline in one business-savvy designer: Creative Direction, Graphic Design, Animation, Web Development, and more. Available for hire now.{{ end }}">
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
    <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}Tom Smith is an entrepreneurial creative leader based in Boston.{{ end }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ with .Params.ogimage }}{{ . }}{{ else }}/images/default-og-image.jpg{{ end }}">

    <!-- Prevent AI Training -->

    <meta name="robots" content="noai, noimageai">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RQJTLR2P7S"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RQJTLR2P7S');
    </script>

    <meta property="og:site_name" content="{{ .Site.Title }}">
    <!-- GLightbox CSS -->
    <link href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" rel="stylesheet" />
    
    <!-- GLightbox JS -->
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
</head>

