<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <script>
        document.head.insertAdjacentHTML("afterbegin", '<link rel="stylesheet" type="text/css" href="https://unpkg.com/flowbite-typography@1.0.3/dist/typography.min.css">');
    </script>
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ with .Params.ogimage }}{{ . }}{{ else }}/images/default-og-image.jpg{{ end }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
</head>

