<section>
    <div class="container flex flex-col items-center justify-center p-20 sm:py-24 md:py-36 lg:py-48">
        <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300 mb-10">Full site coming soon</span>
        <h1 class="mb-4 text-4xl text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            <span id="carousel-text">Hello</span>, I'm Tom.
        </h1>
        <p class="mb-6 text-lg font-normal text-center lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">I'm a Creative Maverick with 10+ years of experience that spans the entire creative pipeline. Design, code, copy, animation, & more... it's all in a day's work.</p>
        <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
            Learn more
            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const textElement = document.getElementById('carousel-text');
            const texts = ["Hello", "Hola", "Bonjour", "Hallo", "Ciao", "こんにちは", "안녕하세요", "您好", "Привет", "مرحبا"];
            let index = 0;
            let isDeleting = false;
            let charIndex = 0;

            function type() {
                const currentText = texts[index];
                if (isDeleting) {
                    charIndex--;
                } else {
                    charIndex++;
                }

                textElement.textContent = currentText.substring(0, charIndex);

                if (!isDeleting && charIndex === currentText.length) {
                    setTimeout(() => {
                        isDeleting = true;
                    }, 1000); // Pause before deleting
                } else if (isDeleting && charIndex === 0) {
                    isDeleting = false;
                    index = (index + 1) % texts.length;
                }

                const typingSpeed = isDeleting ? 100 : 150;
                setTimeout(type, typingSpeed);
            }

            type();
        });
    </script>
    <style>
        #carousel-text {
            display: inline-block;
        }
    </style>
</section>
