<section class="bg-whiteSmoke dark:bg-gray-900 antialiased" id="portfolio">
  <div class="max-w-screen-xl px-4 mx-auto lg:px-6 pb-16">
    <h2 class="sr-only">Tom Smith Design: Portfolio</h2>
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">

      <!-- Total Synergy -->
      <div class="border border-gunmetal rounded-lg bg-whiteSmoke shadow">
        <a href="/portfolio/total-synergy/">
          <img class="object-cover w-full rounded-t-md dark:hidden mb-1 border-b border-gunmetal" src="/images/portfolio/thumbnails/total-synergy-thumbnail.jpg" alt="Tidus Wallet Thumbnail">
        </a>
        <div class="p-4">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white mb-1">Total Synergy</h3>
          <p class="text-base font-normal text-gunmetal dark:text-gray-400 mb-4">
            Marketing collateral and motion graphics for Total Synergy, a project management software for engineers and architects.
          </p>
          <hr class="border-1 border-gunmetal mb-5 border-dashed">
          <div class="flex items-center gap-4">
            <a href="/portfolio/total-synergy/" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              View Project Details
            </a>
          </div>
        </div>
      </div>

      <!-- Tidus Wallet -->
      <div class="border border-gunmetal rounded-lg bg-whiteSmoke shadow">
        <a href="/portfolio/tidus-wallet-website/">
          <img class="object-cover w-full rounded-t-md dark:hidden mb-1 border-b border-gunmetal" src="/images/tidus-website-thumbnail.jpg" alt="Tidus Wallet Thumbnail">
        </a>
        <div class="p-4">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white mb-1">Tidus Wallet Website</h3>
          <p class="text-base font-normal text-gunmetal dark:text-gray-400 mb-4">
            Figma UI/UX design and website development for Tidus Wallet, a user-friendly crypto wallet (the "Crypto Everything" app).
          </p>
          <hr class="border-1 border-gunmetal mb-5 border-dashed">
          <div class="flex items-center gap-4">
            <a href="/portfolio/tidus-wallet-website/" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              View Project Details
            </a>
          </div>
        </div>
      </div>

      <!-- Alaeris -->
      <div class="border border-gunmetal rounded-lg bg-whiteSmoke shadow">
        <a href="/portfolio/alaeris/">
          <img class="object-cover w-full rounded-t-md dark:hidden mb-1 border-b border-gunmetal" src="/images/portfolio/thumbnails/alaeris-thumbnail.jpg" alt="Alaeris Thumbnail">
        </a>
        <div class="p-4">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white mb-1">Alaeris</h3>
          <p class="text-base font-normal text-gunmetal dark:text-gray-400 mb-4">
            A web3 concept that aimed to use blockchain technology to incentivize the planting of trees around the world.
          </p>
          <hr class="border-1 border-gunmetal mb-5 border-dashed">
          <div class="flex items-center gap-4">
            <a href="/portfolio/alaeris/" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              View Project Details
            </a>
          </div>
        </div>
      </div>

      <!-- Canopy -->
      <div class="border border-gunmetal rounded-lg bg-whiteSmoke shadow">
        <a href="/portfolio/canopy/">
          <img class="object-cover w-full rounded-t-md dark:hidden mb-1 border-b border-gunmetal" src="/images/portfolio/thumbnails/canopy-thumbnail.jpg" alt="Canopy Thumbnail">
        </a>
        <div class="p-4">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white mb-1">Canopy</h3>
          <p class="text-base font-normal text-gunmetal dark:text-gray-400 mb-4">
            A desktop app developed by Max Howell (creator of Homebrew) that enabled real-time GitHub notifications.
          </p>
          <hr class="border-1 border-gunmetal mb-5 border-dashed">
          <div class="flex items-center gap-4">
            <a href="/portfolio/canopy/" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              View Project Details
            </a>
          </div>
        </div>
      </div>

      <!-- PKGX -->
      <div class="border border-gunmetal rounded-lg bg-whiteSmoke shadow">
        <a href="/portfolio/pkgx/">
          <img class="object-cover w-full rounded-t-md dark:hidden mb-1 border-b border-gunmetal" src="/images/portfolio/thumbnails/pkgx-thumbnail.jpg" alt="PKGX Thumbnail">
        </a>
        <div class="p-4">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white mb-1">PKGX Branding</h3>
          <p class="text-base font-normal text-gunmetal dark:text-gray-400 mb-4">
            PKGX is a dev shop founded by Homebrew creator Max Howell. Their flagship product is a package manager.
          </p>
          <hr class="border-1 border-gunmetal mb-5 border-dashed">
          <div class="flex items-center gap-4">
            <a href="/portfolio/pkgx/" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              View Project Details
            </a>
          </div>
        </div>
      </div>

      <!-- Tidus Games -->
      <div class="border border-gunmetal rounded-lg bg-whiteSmoke shadow">
        <a href="/portfolio/tidus-games/">
          <img class="object-cover w-full rounded-t-md dark:hidden mb-1 border-b border-gunmetal" src="/images/portfolio/thumbnails/tidusgames-thumbnail.jpg" alt="Tidus Games Thumbnail">
        </a>
        <div class="p-4">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white mb-1">Tidus Games</h3>
          <p class="text-base font-normal text-gunmetal dark:text-gray-400 mb-4">
            The Tidus Games were an airdrop event hosted by Tidus Wallet to drive user downloads and engagement.
          </p>
          <hr class="border-1 border-gunmetal mb-5 border-dashed">
          <div class="flex items-center gap-4">
            <a href="/portfolio/tidus-games/" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              View Project Details
            </a>
          </div>
        </div>
      </div>

      <!-- Tea.xyz Collateral -->
      <div class="border border-gunmetal rounded-lg bg-whiteSmoke shadow">
        <a href="/portfolio/teaxyz-collateral/">
          <img class="object-cover w-full rounded-t-md dark:hidden mb-1 border-b border-gunmetal" src="/images/portfolio/thumbnails/teaxyz-thumbnail.jpg" alt="Tea.xyz Collateral Thumbnail">
        </a>
        <div class="p-4">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white mb-1">Tea.xyz Collateral</h3>
          <p class="text-base font-normal text-gunmetal dark:text-gray-400 mb-4">
            Now tea Protocol, this work was done in 2022/23, prior to a major pivot, restructuring, and brand overhaul.
          </p>
          <hr class="border-1 border-gunmetal mb-5 border-dashed">
          <div class="flex items-center gap-4">
            <a href="/portfolio/teaxyz-collateral/" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              View Project Details
            </a>
          </div>
        </div>
      </div>

      <!-- Iconography & Badges -->
      <div class="border border-gunmetal rounded-lg bg-whiteSmoke shadow">
        <a href="/portfolio/icons-badges/">
          <img class="object-cover w-full rounded-t-md dark:hidden mb-1 border-b border-gunmetal" src="/images/portfolio/thumbnails/anticons-thumbnail.jpg" alt="Icons Thumbnail">
        </a>
        <div class="p-4">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white mb-1">Iconography & Badges</h3>
          <p class="text-base font-normal text-gunmetal dark:text-gray-400 mb-4">
            A selection of icon and badge sets completed over the years. Everything from ants to robots... what's not to love?
          </p>
          <hr class="border-1 border-gunmetal mb-5 border-dashed">
          <div class="flex items-center gap-4">
            <a href="/portfolio/icons-badges/" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              View Project Details
            </a>
          </div>
        </div>
      </div>

      <!-- Motion Graphics -->
      <div class="border border-gunmetal rounded-lg bg-whiteSmoke shadow">
        <a href="/portfolio/motion-graphics/">
          <img class="object-cover w-full rounded-t-md dark:hidden mb-1 border-b border-gunmetal" src="/images/portfolio/motion graphics/motion-graphic-thumbnail.jpg" alt="Motion Graphics Thumbnail">
        </a>
        <div class="p-4">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white mb-1">Motion Graphics</h3>
          <p class="text-base font-normal text-gunmetal dark:text-gray-400 mb-4">
            This is an assortment of motion graphics for various clients and projects, all animated using Adobe AfterEffects.
          </p>
          <hr class="border-1 border-gunmetal mb-5 border-dashed">
          <div class="flex items-center gap-4">
            <a href="/portfolio/motion-graphics/" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              View Project Details
            </a>
          </div>
        </div>
      </div>

      <!-- Print Design -->
      <div class="border border-gunmetal rounded-lg bg-whiteSmoke shadow">
        <a href="/portfolio/print-design/">
          <img class="object-cover w-full rounded-t-md dark:hidden mb-1 border-b border-gunmetal" src="/images/print-design-thumbnail.jpg" alt="Print Design Thumbnail">
        </a>
        <div class="p-4">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white mb-1">Print Design</h3>
          <p class="text-base font-normal text-gunmetal dark:text-gray-400 mb-4">
            A collection of print designs that I've done for clients over the years, ranging from postcards to posters and banners.
          </p>
          <hr class="border-1 border-gunmetal mb-5 border-dashed">
          <div class="flex items-center gap-4">
            <a href="/portfolio/print-design/" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              View Project Details
            </a>
          </div>
        </div>
      </div>

      <!-- Visual Package Manager -->
      <div class="border border-gunmetal rounded-lg bg-whiteSmoke shadow">
        <a href="/portfolio/visual-package-manager/">
          <img class="object-cover w-full rounded-t-md dark:hidden mb-1 border-b border-gunmetal" src="/images/gui-thumbnail.jpg" alt="Visual Package Manager Thumbnail">
        </a>
        <div class="p-4">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white mb-1">Visual Package Manager</h3>
          <p class="text-base font-normal text-gunmetal dark:text-gray-400 mb-4">
            A desktop app that empowers casual users to interact with the terminal and install open source software.
          </p>
          <hr class="border-1 border-gunmetal mb-5 border-dashed">
          <div class="flex items-center gap-4">
            <a href="/portfolio/visual-package-manager/" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              View Project Details
            </a>
          </div>
        </div>
      </div>

      <!-- Belvedere Grand -->
      <div class="border border-gunmetal rounded-lg bg-whiteSmoke shadow">
        <a href="/portfolio/belvedere-grand/">
          <img class="object-cover w-full rounded-t-md dark:hidden mb-1 border-b border-gunmetal" src="/images/portfolio/thumbnails/belvedere-grand-thumbnail.jpg" alt="Belvedere Grand Logo Thumbnail">
        </a>
        <div class="p-4">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white mb-1">The Belvedere Grand</h3>
          <p class="text-base font-normal text-gunmetal dark:text-gray-400 mb-4">
            Logo design and branding for The Belvedere Grand, an inn and restaurant in the Upper Peninsula of Michigan.
          </p>
          <hr class="border-1 border-gunmetal mb-5 border-dashed">
          <div class="flex items-center gap-4">
            <a href="/portfolio/belvedere-grand/" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              View Project Details
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
