<section class="bg-whiteSmoke dark:bg-gray-900 antialiased" id="portfolio">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
        <div class="max-w-screen-md mx-auto mb-8 lg:mb-16">
            <p class="mb-6 text-sm uppercase font-semibold text-gunmetal sm:px-16 xl:px-48 dark:text-gray-400 text-left sm:text-center">Portfolio</p>
            <h2 class="mb-4 text-4xl text-left sm:text-center tracking-tight font-extrabold text-gunmetal dark:text-white">As they always say, pictures speak louder than words.</h2>
            <p class="text-gunmetal sm:text-xl dark:text-gray-400 text-left sm:text-center mb-4">This is a curated selection of Tom’s extensive works and case studies. Don’t see a specific discipline? Just ask and he’ll send you a Loom recording. Dozens of works either didn’t make this batch or are sealed behind NDAs.</p>
        </div>
  
      <div class="grid grid-cols-1 gap-12 mt-12 sm:gap-8 lg:gap-16 sm:mt-16 sm:grid-cols-2 lg:grid-cols-3">

        <!-- Alaeris -->

        <div>
            <a href="/portfolio/alaeris/">
                <img class="object-cover w-full rounded-lg border border-gunmetal dark:hidden mb-6" src="/images/portfolio/thumbnails/alaeris-thumbnail.jpg"
                alt="Alaeris Thumbnail">
            </a>
          <div class="space-y-3 mb-6">
            <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white">
                Alaeris
            </h3>
            <p class="text-lg font-normal text-gunmetal dark:text-gray-400">
              A web3 concept that aimed to use blockchain technology to incentivize the planting of trees around the world.
            </p>
          </div>
          <div class="flex items-center gap-4">
            <a href="/portfolio/alaeris/" title=""
              class="text-white bg-primary-700  hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              role="button">
              View Project Details
            </a>
          </div>
        </div>

        <!-- Canopy -->

        <div>
            <a href="/portfolio/canopy/">
                <img class="object-cover w-full rounded-lg border border-gunmetal dark:hidden mb-6" src="/images/portfolio/canopy/canopy-thumbnail.jpg"
                alt="Universi'tea Thumbnail">
            </a>
          <div class="space-y-3 mb-6">
            <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white">
                Canopy
            </h3>
            <p class="text-lg font-normal text-gunmetal dark:text-gray-400">
              A desktop app developed by Max Howell (creator of Homebrew) that enabled real-time GitHub notifications.
            </p>
          </div>
          <div class="flex items-center gap-4">
            <a href="/portfolio/canopy/" title=""
              class="text-white bg-primary-700  hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              role="button">
              View Project Details
            </a>
          </div>
        </div>

        <!-- PKGX -->

        <div>
            <a href="/portfolio/pkgx/">
                <img class="object-cover w-full rounded-lg border border-gunmetal dark:hidden mb-6" src="/images/portfolio/thumbnails/pkgx-thumbnail.jpg"
                alt="PKGX Thumbnail">
            </a>
          <div class="space-y-3 mb-6">
            <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white">
                PKGX Branding
            </h3>
            <p class="text-lg font-normal text-gunmetal dark:text-gray-400">
              PKGX is a dev shop founded by Homebrew creator Max Howell. Their flagship product is a package manager.
            </p>
          </div>
          <div class="flex items-center gap-4">
            <a href="/portfolio/pkgx/" title=""
              class="text-white bg-primary-700  hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              role="button">
              View Project Details
            </a>
          </div>
        </div>

        <!-- Tidus Games -->

        <div>
            <a href="/portfolio/tidus-games/">
                <img class="object-cover w-full rounded-lg border border-gunmetal dark:hidden mb-6" src="/images/portfolio/thumbnails/tidusgames-thumbnail.jpg"
                alt="Tidus Games Thumbnail">
            </a>
          <div class="space-y-3 mb-6">
            <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white">
                Tidus Games
            </h3>
            <p class="text-lg font-normal text-gunmetal dark:text-gray-400">
              The Tidus Games were an airdrop event hosted by Tidus Wallet to drive user downloads and engagement.
            </p>
          </div>
          <div class="flex items-center gap-4">
            <a href="/portfolio/tidus-games/" title=""
              class="text-white bg-primary-700  hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              role="button">
              View Project Details
            </a>
          </div>
        </div>

        <!-- Tea Protocol -->

        <div>
            <a href="/portfolio/teaxyz-collateral/">
                <img class="object-cover w-full rounded-lg border border-gunmetal dark:hidden mb-6" src="/images/portfolio/thumbnails/teaxyz-thumbnail.jpg"
                alt="tea Protocol Thumbnail">
            </a>
          <div class="space-y-3 mb-6">
            <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white">
                Tea.xyz Collateral
            </h3>
            <p class="text-lg font-normal text-gunmetal dark:text-gray-400">
              Now tea Protocol, this work was done in 2022/23, prior to a major pivot, restructuring, and brand overhaul.
            </p>
          </div>
          <div class="flex items-center gap-4">
            <a href="/portfolio/teaxyz-collateral/" title=""
              class="text-white bg-primary-700  hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              role="button">
              View Project Details
            </a>
          </div>
        </div>

        <!-- Iconography Badges -->

        <div>
            <a href="/portfolio/icons-badges/">
                <img class="object-cover w-full rounded-lg border border-gunmetal dark:hidden mb-6" src="/images/portfolio/thumbnails/anticons-thumbnail.jpg"
                alt="Ant Icons Thumbnail">
            </a>
          <div class="space-y-3 mb-6">
            <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white">
                Iconography & Badges
            </h3>
            <p class="text-lg font-normal text-gunmetal dark:text-gray-400">
              A selection of icon and badge sets completed over the years. Everything from ants to robots... what's not to love?
            </p>
          </div>
          <div class="flex items-center gap-4">
            <a href="/portfolio/icons-badges/" title=""
              class="text-white bg-primary-700  hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              role="button">
              View Project Details
            </a>
          </div>
        </div>

        <!-- Motion Graphics -->

        <div>
          <a href="/portfolio/motion-graphics/">
              <img class="object-cover w-full rounded-lg border border-gunmetal dark:hidden mb-6" src="/images/portfolio/motion graphics/motion-graphic-thumbnail.jpg"
              alt="Motion Graphics Thumbnail">
          </a>
        <div class="space-y-3 mb-6">
          <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white">
              Motion Graphics
          </h3>
          <p class="text-lg font-normal text-gunmetal dark:text-gray-400">
            This is an assortment of motion graphics for various clients and projects, all animated using Adobe AfterEffects.
          </p>
        </div>
        <div class="flex items-center gap-4">
          <a href="/portfolio/motion-graphics/" title=""
            class="text-white bg-primary-700  hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            role="button">
            View Project Details
          </a>
        </div>
      </div>

      <!-- Print Design -->

      <div>
        <a href="/portfolio/print-design/">
            <img class="object-cover w-full rounded-lg border border-gunmetal dark:hidden mb-6" src="/images/print-design-thumbnail.jpg"
            alt="Print Design Thumbnail">
        </a>
      <div class="space-y-3 mb-6">
        <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white">
            Print Design
        </h3>
        <p class="text-lg font-normal text-gunmetal dark:text-gray-400">
          A collection of print designs that I've done for clients over the years, ranging from postcards to posters and banners.
        </p>
      </div>
      <div class="flex items-center gap-4">
        <a href="/portfolio/print-design/" title=""
          class="text-white bg-primary-700  hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          role="button">
          View Project Details
        </a>
      </div>
    </div>

    <!-- Print Design -->

    <div>
      <a href="/portfolio/visual-package-manager/">
          <img class="object-cover w-full rounded-lg border border-gunmetal dark:hidden mb-6" src="/images/print-design-thumbnail.jpg"
          alt="Visual Package Manager thumbnail">
      </a>
    <div class="space-y-3 mb-6">
      <h3 class="text-2xl font-bold leading-tight text-gunmetal dark:text-white">
          Visual Package Manager
      </h3>
      <p class="text-lg font-normal text-gunmetal dark:text-gray-400">
        A desktop app that empowers casual users to interact with the terminal and install open source software.
      </p>
    </div>
    <div class="flex items-center gap-4">
      <a href="/portfolio/visual-package-manager/" title=""
        class="text-white bg-primary-700  hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        role="button">
        View Project Details
      </a>
    </div>
  </div>

      </div>
    </div>
  </section>