<section id="portfolio" class="max-w-screen-xl mx-auto pt-8 px-4 sm:pt-24 lg:px-6">
    <div class="max-w-screen-md mx-auto mb-8 lg:mb-16">
        <p class="mb-6 text-sm uppercase font-semibold text-gray-500 sm:px-16 xl:px-48 dark:text-gray-400 text-left sm:text-center">Portfolio</p>
        <h2 class="mb-4 text-4xl text-left sm:text-center tracking-tight font-extrabold text-gray-900 dark:text-white">As they always say, pictures speak louder than words.</h2>
        <p class="text-gray-500 sm:text-xl dark:text-gray-400 text-left sm:text-center mb-4">This is a curated selection of Tom’s extensive works and case studies. Don’t see a specific discipline? Just ask and he’ll send you a Loom recording. Dozens of works either didn’t make this batch or are sealed behind NDAs.</p>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <div>
            <a href="/portfolio/alaeris/">
            <img class="h-auto max-w-full rounded-lg" src="/images/alaeris-thumbnail.jpg" alt="Alaeris Branding">
            </a>
        </div>
        <div>
            <a href="/portfolio/universitea/">
            <img class="h-auto max-w-full rounded-lg" src="/images/universitea-thumbnail.jpg" alt="Universi'tea Logo">
            </a>
        </div>
        <div>
            <a href="/portfolio/tea-hoodie/">
            <img class="h-auto max-w-full rounded-lg" src="/images/tea-hoodies-thumbnail.jpg" alt="tea Protocol Hoodies">
            </a>
        </div>
        <div>
            <a href="/portfolio/pkgx/">
            <img class="h-auto max-w-full rounded-lg" src="/images/pkgx-thumbnail.jpg" alt="PKGX Logo & Branding">
            </a>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/images/ant-icons-thumbnail.jpg" alt="Set of Ant Icons">
        </div>
        <div>
            <a href="/portfolio/canopy/">
            <img class="h-auto max-w-full rounded-lg" src="/images/canopy-thumbnail.jpg" alt="Canopy App Icon">
            </a>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/images/lisbon-tea-party-thumbnail.jpg" alt="Lisbon tea Party Flyer">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/images/bigfoot-thumbnail.jpg" alt="Bigfoot Believes in You Thumbnail">
        </div>
        <div>
            <a href="/portfolio/tidus-games/">
            <img class="h-auto max-w-full rounded-lg" src="/images/tidus-games-thumbnail.jpg" alt="Tidus Games">
            </a>
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/images/tea-gui-thumbnail.jpg" alt="tea GUI">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/images/tidus-banner-thumbnail.jpg" alt="Tidus Banner">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="/images/carnival-barrio-thumbnail.jpg" alt="Carnival Flyer">
        </div>
    </div>
</section>