<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-24 lg:px-6">
        <div class="mx-auto max-w-screen-md text-left sm:text-center">
            <p class="mb-6 text-sm uppercase font-semibold text-gray-500 sm:px-16 xl:px-48 dark:text-gray-400 text-left sm:text-center">Testimonials</p>
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Some glowing remarks from past clients.</h2>
            <p class="mb-8 font-light text-gray-500 lg:mb-16 dark:text-gray-400 sm:text-xl">Tom’s worked with over a hundred clients across six continents. These are just a few of the glowing remarks that they’ve had for him.</p>
        </div> 
        <div class="grid gap-8 lg:grid-cols-3">
            <div class="space-y-6">
                <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                    <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                        <!--<h3 class="text-lg font-semibold text-gray-900 dark:text-white">Efficient Collaborating</h3>-->
                        <p class="my-4">"Tom is an amazing designer! Great work ethic, understands the goals, communicates effectively and will help up your design game significantly!"</p>
                    </blockquote>
                    <figcaption class="flex items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/images/upwork.svg" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white">
                            <div>Upwork Client</div>
                            <div class="text-sm font-light text-gray-500 dark:text-gray-400">Dental Tech Executive</div>
                        </div>
                    </figcaption>    
                </figure>
                <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                    <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                        <!--<h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mindblowing workflow and variants</h3>-->
                        <p class="my-4">"Thomas is hands down one of the most competent designers on Upwork. Get him on your project before someone else does!"
                        </p>
                    </blockquote>
                    <figcaption class="flex items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/images/upwork.svg" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white">
                            <div>Upwork Client</div>
                            <div class="text-sm font-light text-gray-500 dark:text-gray-400">Entrepreneur</div>
                        </div>
                    </figcaption>    
                </figure>
            </div>
            <div class="space-y-6">
                <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                    <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                        <!--<h3 class="text-lg font-semibold text-gray-900 dark:text-white">I'm never start a business without a design team again!</h3>-->
                        <p class="my-4">"Thomas was beyond amazing. He did exactly what I asked him to do and even improved upon it. I could not recommend him enough. I will definitely be hiring him again 1000%.”</p>
                    </blockquote>
                    <figcaption class="flex items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/images/upwork.svg" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white">
                            <div>Upwork Client</div>
                            <div class="text-sm font-light text-gray-500 dark:text-gray-400">Entrepreneur</div>
                        </div>
                    </figcaption>    
                </figure>
                <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                    <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                        <!--<h3 class="text-lg font-semibold text-gray-900 dark:text-white">A must-have for designers</h3>-->
                        <p class="my-4">"Not the first time working with Tom and won't be the last. His attention to detail and fast turn around makes him one of my favorite freelancers. Great all around. Thank you!"</p>
                    </blockquote>
                    <figcaption class="flex items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/images/upwork.svg" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white">
                            <div>Upwork Client</div>
                            <div class="text-sm font-light text-gray-500 dark:text-gray-400">Ecommerce Executive</div>
                        </div>
                    </figcaption>    
                </figure>
            </div>
            <div class="space-y-6">
                <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                    <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                        <!--<h3 class="text-lg font-semibold text-gray-900 dark:text-white">Solid foundation for any project</h3>-->
                        <p class="my-4">"Tom is great: professional, thoughful, and a creative collaborator. Really enjoyed working with him."
                        </p>
                    </blockquote>
                    <figcaption class="flex items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/images/upwork.svg" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white">
                            <div>Upwork Client</div>
                            <div class="text-sm font-light text-gray-500 dark:text-gray-400">Sales Executive</div>
                        </div>
                    </figcaption>    
                </figure>
                <figure class="p-6 bg-gray-50 rounded dark:bg-gray-800">
                    <blockquote class="text-sm text-gray-500 dark:text-gray-400">
                        <!--<h3 class="text-lg font-semibold text-gray-900 dark:text-white"></h3>-->
                        <p class="my-4">"Excellent work. Very easy to work with. Thank you!"
                        </p>
                    </blockquote>
                    <figcaption class="flex items-center space-x-3">
                        <img class="w-9 h-9 rounded-full" src="/images/upwork.svg" alt="profile picture">
                        <div class="space-y-0.5 font-medium dark:text-white">
                            <div>Upwork Client</div>
                            <div class="text-sm font-light text-gray-500 dark:text-gray-400">Co-Founder and CTO</div>
                        </div>
                    </figcaption>    
                </figure>
            </div>
        </div>   
    </div>
  </section>