<section class="bg-gray-900" id="about">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-24 lg:px-6">
        <div class="font-light sm:text-lg text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">The TLDR; of Tom’s Career</h2>
            <p class="mb-4 text-xl font-normal">Fresh off the back of a BFA from Savannah College of Art and Design, Tom started his career in the New York corporate world before leaving to freelance remotely and live as a Digital Nomad. He then returned to the US and served as Creative Director at a SaaS startup where he was instrumental in their growth to acquisition. He dabbled in running a creative agency, co-founded an eco-friendly blockchain initiative, and then was a “First 10” employee under Max Howell at tea Protocol (one of the fastest growing web3 projects, ever). </p>
            <a href="/media/Thomas Smith Resumé.pdf" class="inline-flex items-center font-medium text-primary-600 hover:text-primary-500 dark:text-primary-500 dark:hover:text-primary-700">
                Download resumé
                <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </a>
            <hr class="my-6 sm:mx-auto border-gray-700 sm:hidden">
        </div>
        <div class="mt-4 font-light sm:text-lg lg:mt-0 text-gray-400">
            <p class="mb-4">Starting his career as a freelance designer for larger corporate clients enabled Tom to learn from masterful style guides (e.g. Verizon, Amazon, Vivitar, etc.). Freelancing taught him client management and the imortance of providing tangible value. His subsequent leadership roles in startup environments were true trials by fire, prompting the rapid development of managerial skills and necessiating him to become a true “Jack of All Trades”. </p>
            <p>Today, Tom is a top-performer in the creative industry, prompting such glowing remarks as “where did you find this guy?!” and “I’m never starting a business without a creative team again”. He thrives in fast-moving environments and loves solving seemingly impossible problems. If a CEO or founder needs to land a plane on Main Street, Tom’s the one who’ll figure out how to do it. </p>
        </div>
    </div>
</section>