{{ define "main" }}

<div class="dark">

<section class="bg-whiteSmoke dark:bg-gray-900 h-screen flex items-center justify-center">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gunmetal dark:text-white">Thanks for booking your strategy call!</h1>
        <p class="mb-8 text-lg font-normal text-gunmetal lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">I'm looking forward to chatting and figuring out how we can make an MVB for your MVP.</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="/"><button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Back home</button></a>
        </div>
    </div>
</section>

</div>
{{ end }}