{{ define "main" }}
<section class="bg-whiteSmoke dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gunmetal dark:text-white">You're almost there!!</h2>
        <p class="mb-8 lg:mb-16 font-normal text-center text-gunmetal dark:text-gray-400 sm:text-xl">You're one step closer to having the man who can do it all <span class="font-semibold">on your team!</span> Drop me your name, email, and a short message and I'll get back to you ASAP!</p>
        <form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true" action="/thank-you" class="space-y-8">
            <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your name</label>
                <input name="name" type="text" id="name" class="shadow-sm bg-gray-50 border border-gunmetal text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Bruce Wayne" required>
            </div>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
                <input name="email" type="email" id="email" class="shadow-sm bg-gray-50 border border-gunmetal text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@example.com" required>
            </div>
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
                <input name="subject" type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gunmetal shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Eg. 'Project Proposal'" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
                <textarea name="message" type="text" id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gunmetal focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Let me know what you've got in the works..."></textarea>
            </div>
            <div data-netlify-recaptcha="true"></div>
            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send message</button>
            <p class="text-sm text-gunmetal"><span class="font-semibold">Note:</span> This form is purely for contact purposes; I won't add you to any any email list or share your contact info with third parties. Please know that by submitting this form, you agree to my <a href="/terms-and-conditions/" target="_blank" class="text-primary-700">terms and conditions</a> and <a href="/privacy-policy/" target="_blank" class="text-primary-700">privacy policy</a>.</p>
        </form>
    </div>
  </section>
{{ end }}
