{{ define "main" }}

<section class="py-8 bg-whiteSmoke md:py-16 dark:bg-gray-900 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      
      <!-- Full-width Carousel -->
<div class="w-full">
    <div id="product-1-tab-content">
      <!-- Slide 1 -->
      <div class="rounded-lg bg-white dark:bg-gray-900" id="product-1-image-1" role="tabpanel" aria-labelledby="product-1-image-1-tab">
        <div class="w-full aspect-[4/4] rounded-lg bg-center bg-no-repeat bg-cover dark:hidden"
          style="background-image:url('/images/hoodie-lifestyle-mockup-web-cropped.jpg');"></div>
        <div class="w-full aspect-[4/4] rounded-lg bg-center bg-no-repeat bg-cover hidden dark:block"
          style="background-image:url('hoodie-lifestyle-mockup-web-cropped.jpg');"></div>
      </div>
  
      <!-- Slide 2 -->
      <div class="hidden rounded-lg bg-white dark:bg-gray-900" id="product-1-image-2" role="tabpanel" aria-labelledby="product-1-image-2-tab">
        <div class="w-full aspect-[4/4] rounded-lg bg-center bg-no-repeat bg-cover dark:hidden"
          style="background-image:url('/images/hoodie-tag.jpg');"></div>
        <div class="w-full aspect-[4/4] rounded-lg bg-center bg-no-repeat bg-cover hidden dark:block"
          style="background-image:url('/images/hoodie-tag.jpg');"></div>
      </div>
  
      <!-- Slide 3 -->
      <div class="hidden p-4 rounded-lg bg-white dark:bg-gray-900" id="product-1-image-3" role="tabpanel" aria-labelledby="product-1-image-3-tab">
        <div class="w-full aspect-[4/3] rounded-lg bg-center bg-no-repeat bg-cover dark:hidden"
          style="background-image:url('https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-components.svg');"></div>
        <div class="w-full aspect-[4/3] rounded-lg bg-center bg-no-repeat bg-cover hidden dark:block"
          style="background-image:url('https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-components-dark.svg');"></div>
      </div>
  
      <!-- Slide 4 -->
      <div class="hidden p-4 rounded-lg bg-white dark:bg-gray-900" id="product-1-image-4" role="tabpanel" aria-labelledby="product-1-image-4-tab">
        <div class="w-full aspect-[4/3] rounded-lg bg-center bg-no-repeat bg-cover dark:hidden"
          style="background-image:url('https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-side.svg');"></div>
        <div class="w-full aspect-[4/3] rounded-lg bg-center bg-no-repeat bg-cover hidden dark:block"
          style="background-image:url('https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-side-dark.svg');"></div>
      </div>
    </div>
  
    <!-- Thumbnails -->
    <ul class="grid grid-cols-4 gap-4 mt-8"
      id="product-1-tab"
      data-tabs-toggle="#product-1-tab-content"
      data-tabs-active-classes="border-gray-200 dark:border-gray-700"
      data-tabs-inactive-classes="border-transparent hover:border-gray-200 dark:hover:dark:border-gray-700 dark:border-transparent"
      role="tablist">
      
      <li role="presentation">
        <button class="h-30 w-full overflow-hidden border-2 rounded-lg p-1 cursor-pointer"
          id="product-1-image-1-tab"
          data-tabs-target="#product-1-image-1"
          type="button"
          role="tab"
          aria-controls="product-1-image-1"
          aria-selected="true">
          <div class="w-full h-full aspect-square rounded bg-center bg-no-repeat bg-cover dark:hidden"
            style="background-image:url('/images/hoodie-lifestyle-mockup-web-cropped.jpg');"></div>
          <div class="w-full h-full aspect-square rounded bg-center bg-no-repeat bg-cover hidden dark:block"
            style="background-image:url('/images/hoodie-lifestyle-mockup-web-cropped.jpg');"></div>
        </button>
      </li>
  
      <li role="presentation">
        <button class="h-30 w-full overflow-hidden border-2 rounded-lg p-1 cursor-pointer"
          id="product-1-image-2-tab"
          data-tabs-target="#product-1-image-2"
          type="button"
          role="tab"
          aria-controls="product-1-image-2"
          aria-selected="false">
          <div class="w-full h-full aspect-square rounded bg-center bg-no-repeat bg-cover dark:hidden"
            style="background-image:url('/images/hoodie-tag.jpg');"></div>
          <div class="w-full h-full aspect-square rounded bg-center bg-no-repeat bg-cover hidden dark:block"
            style="background-image:url('/images/hoodie-tag.jpg');"></div>
        </button>
      </li>
  
      <!-- Commenting out other buttons for now

      <li role="presentation">
        <button class="h-20 w-full overflow-hidden border-2 rounded-lg p-2 cursor-pointer"
          id="product-1-image-3-tab"
          data-tabs-target="#product-1-image-3"
          type="button"
          role="tab"
          aria-controls="product-1-image-3"
          aria-selected="false">
          <div class="w-full h-full aspect-square rounded bg-center bg-no-repeat bg-cover dark:hidden"
            style="background-image:url('https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-components.svg');"></div>
          <div class="w-full h-full aspect-square rounded bg-center bg-no-repeat bg-cover hidden dark:block"
            style="background-image:url('https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-components-dark.svg');"></div>
        </button>
      </li>
  
      <li role="presentation">
        <button class="h-20 w-full overflow-hidden border-2 rounded-lg p-2 cursor-pointer"
          id="product-1-image-4-tab"
          data-tabs-target="#product-1-image-4"
          type="button"
          role="tab"
          aria-controls="product-1-image-4"
          aria-selected="false">
          <div class="w-full h-full aspect-square rounded bg-center bg-no-repeat bg-cover dark:hidden"
            style="background-image:url('https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-side.svg');"></div>
          <div class="w-full h-full aspect-square rounded bg-center bg-no-repeat bg-cover hidden dark:block"
            style="background-image:url('https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-side-dark.svg');"></div>
        </button>
      </li>

      -->

    </ul>
    <p class="text-gunmetal font-normal text-xs mt-6 opacity-60"><span class="font-bold">The images above are mockups.</span> The primary design and placement will be the same, but small details including, but not limited to, the tag, brand of hoodie, and packaging are subject to change. Pre-order customers will be kept in the loop throughout the remainder of the creative process. </p>
  </div>
  

        <div class="mt-6 sm:mt-8 lg:mt-0">
            
            <div
            class="block p-4 mb-6 rounded-lg shadow-sm 
         border border-[#FFA07A] dark:border-gray-700
         text-gunmetal dark:text-white
         bg-gradient-to-r 
         from-[#E5E4E2]   /* platinum */
         via-[#FFD700]   /* golden yellow */
         via-[#98FB98]   /* soft green */
         via-[#FF69B4]   /* bright pink */
         via-[#87CEFA]   /* sky blue */
         via-[#FFA07A]   /* coral / reddish */
         to-[#F8F8FF]">
            <p class="font-medium text-sm text-gunmetal dark:text-gray-300">
              <span class="font-bold">🦄 Pre-orders are open!</span> Official drop October 2025
            </p>
        </div>          


          <h1
            class="text-3xl font-extrabold text-gray-900 sm:text-4xl dark:text-white"
          >
            TSD #001: On The Rocks – Limited Drop Screen-Printed Hoodie
          </h1>
          <div class="mt-4 sm:flex sm:items-center sm:gap-4">
            <p class="flex items-center text-2xl font-extrabold text-gray-900 dark:text-white">
              <span class="line-through opacity-50 mr-2">$59.99 USD</span>
              $29.99 USD
              <span
                class="ml-2 animate-pulse bg-coral text-whiteSmoke text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300"
              >
                Pre-order price
              </span>
            </p>
          </div>
          <p class="mb-4 mt-4 text-gunmetal text-lg font-normal dark:text-gray-400">
            We're doing a limited run of 100 screen-printed hoodies. Once they're gone, they're gone.
          </p>


          <!-- Comment out form
        <form class="mt-4">
            <div class="mb-4">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
            <input type="email" id="email" class="bg-gray-50 border border-gunmetal text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
            </div>
            <div class="mb-5">
            <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hoodie size</label>
            <select id="countries" class="bg-gray-50 border border-gunmetal text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            
                <option>XS</option>
                <option>SM</option>
                <option>MD</option>
                <option>LG</option>
                <option>XL</option>
                <option>2XL</option>
                <option>3XL</option>
            </select>
            </form>
            </div>
            <div class="flex items-start mb-5">
            <div class="flex items-center h-5">
                <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required />
            </div>
            <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reserve my hoodie</button>
        </form>

        -->

          <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8 mb-4">
            <a
              href="https://www.instagram.com/tomsmith.design/"
              title=""
              class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              role="button"
            >
              <svg
                class="w-5 h-5 -ms-2 me-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                />
              </svg>
              Follow on IG
            </a>

            <a
              href="https://buy.stripe.com/aFa3cwbgT7uRak69QPeIw00"
              title=""
              class="text-white mt-4 sm:mt-0 bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
              role="button"
            >
              <svg
                class="w-5 h-5 -ms-2 me-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
                />
              </svg>

              Pre-Order for $29.99
            </a>
          </div>

          <p class="text-sm font-normal text-gunmetal"><span class="font-bold">Pre-ordering ends September 16th.</span> Hoodies will not ship until October 2025. </p>

          <hr class="my-6 md:my-8 border-gunmetal dark:border-gray-800" />

          <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-whiteSmoke dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
            <h2 id="accordion-flush-heading-1">
              <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-[#D9D9D9] dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
                <span>About the art</span>
                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
              <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">These little doodle dudes represent the inner workings on my scattered mind. As a whole, they're clustered and chaotic– kind of like my thoughts. But individually, when you laser in, each character represents its own little universe and persona. For example, the "Cubefish", seen near the bottom-left of this piece, hails from a distant cube-shaped, oceanic planet with incredibly strong gravity but also an incredibly short atmosphere (like only a few feet high). This ambitious little guy jumped out the water in pursuit of a cube-shaped fly and accidentally breached the atmosphere all together. He got sucked into wormhole, was spit out near Earth, and entered our atmosphere in a fiery blaze of glory. Now, he's just cube-shaped fish living in a poly-fish world.  </p>
                <p class="text-gray-500 dark:text-gray-400">I draw these little dudes completely free-hand. There's no planning, sketching, or erasing– just lines. I try to keep things compositionally balanced (i.e. if I draw a big guy, I surround him with a some smaller guys), but otherwise, these doodle dudes flow straight from my subconscious. I'd like to say there's a deeper meaning, some profound commentary on the world around us, but there's not. I just draw, see what comes out, and then make up fun stories about them after fact.</p>
              </div>
            </div>
            <h2 id="accordion-flush-heading-2">
              <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-[#D9D9D9] dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                <span>Specifications</span>
                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
              <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">Specifications include advanced processor capabilities, extensive storage options, and seamless connectivity. The product is designed to handle demanding tasks efficiently.</p>
                <p class="text-gray-500 dark:text-gray-400">Additional features include high-resolution display, long-lasting battery life, and intuitive user interface for enhanced productivity.</p>
              </div>
            </div>
            <h2 id="accordion-flush-heading-3">
              <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-[#D9D9D9] dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
                <span>Warranty</span>
                <svg data-accordion-icon class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
              <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">The product comes with a comprehensive warranty that covers manufacturing defects and malfunctions. It provides peace of mind and assurance of product quality.</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">Customers can enjoy reliable support and prompt assistance for any issues related to the product during the warranty period.</p>
              </div>
            </div>
          </div>
          
        </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}